/*********************************************
*********** header
**********************************************/

header {

}

.shortcut {

  header {

  }

}

.burger {
  display: none;
  width: 40px;
  height: 25px;
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;

  > div {
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    transition: .4s;
    transform-origin: center;
  }

  &-top {
    top: 0;
  }


  &-center {
    margin: auto;
    top: 0;
    bottom: 0;
  }

  &-bottom {
    bottom: 0;
  }

  &.active {

    .burger-top {
      top: 11px;
      transform: rotate(-45deg);
    }

    .burger-center {
      left: 50%;
      width: 0;
    }

    .burger-bottom {
      bottom: 11px;
      transform: rotate(45deg);
    }
  }

}

.logo {

}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}