/*********************************************
*********** fonts
**********************************************/

@font-face {
  font-family: "Avenir Next Condensed Bold";
  src: url(../fonts/AvenirNextCondensed-Bold.ttf) format('truetype'), url(../fonts/AvenirNextCondensed-Bold.otf) format('opentype');
}

@font-face {
  font-family: "Avenir Next Condensed";
  src: url(../fonts/AvenirNextCondensed-Regular.ttf) format('truetype'), url(../fonts/AvenirNextCondensed-Regular.otf) format('opentype');
}