///////////////////////////////////////////////
///////////// variables
///////////////////////////////////////////////

$font-regular: "Avenir Next Condensed", sans-serif;
$font-bold: "Avenir Next Condensed Bold", sans-serif;

$color-purple-dark: #22030a;
$color-purple-light: #2c050e;
$color-purple-gold: #f2d89d;
